<html>
<head><title>Mock Pay!</title></head>
<body>
  <form method="POST" action="{% url 'redirect' %}">
    {% for field in form %}
      {% if field.status != 'editable' %}
        <input type="hidden" name="{{field.name}}" value="{{field.value}}" />
        {% if field.status == 'locked' %}
        {{field.name}}: {{field.value}}
        {% endif %}
      {% else %}
        {{field.name}}:
        <input type="text" name="{{field.name}}" value="{{field.value}}" />
      {% endif %}
      <br />
    {% endfor %}
    <p>Pretend you entered card information</p>
    <input type="submit" /><input type="submit" name="cancel" value="Cancel" />
  </form>
</body>
</html>
